<!DOCTYPE html>
<html>
<head lang="en">
    <script src="/js/jquery.js" ></script>
    <script src="/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    <div class="input-group clockpicker">
        <input type="text" class="form-control" value="09:30">
	    <span class="input-group-addon">
    		<span class="glyphicon glyphicon-time"></span>
	    </span>
    </div>
    <script type="text/javascript">
        $('.clockpicker').clockpicker();
    </script>

</body>
</html>